<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Probando esto</h1>
    <p></p>
    <ul>Mangas
        <li>Sakamoto</li>
        <li>one piece</li>
        <li>tomodachi games</li>
        <li>Naruto</li>
    </ul>
    <p></p>
    <div style="width: 200px; height: 200px; background-color: aqua;"></div>
	<div>
		<article>
			{{ posts }}
		</article>
	</div>
{% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}
</body>
</html>
